body {
    font-family: 'Lato', arial;
}

/* Overridden Bootstrap Styles */

.navbar, .navbar-default {
    height: 70px;
    background-color: #0067b2;
    border-radius: 0;
    border: none;
    margin-bottom: 10px;
}

.navbar-nav > li > a {
    color: white !important;
    line-height: 70px;
    padding: 0 20px 0 20px;
    display: block;
    font-weight: 300;
    font-size: 15px;
    
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
}

.navbar-nav > li > a:hover {
    background-color: orangered !important;
    border-bottom: solid 8px #0067b2;
    
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
}

a.navbar-brand {
    color: white !important;
    padding: 0 15px 0 15px;
    line-height: 70px;
    font-weight: 400;
    font-size: 20px;
}

.btn {
    border-radius: 0;
}

.btn:hover {
    transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    -webkit-transition: background .5s ease-in-out;
}

.panel {
    border-radius: 0 !important;
}

.panel-heading {
    padding: 15px;
}

.form-control {
    border-radius: 0;
}

/* Main Styles */

.songs h1 {
    font-size: 2em;
    margin: 2px 0 2px 0;
}

div.song {
    padding: 10px;
    height: 125px;
    background-color: #f9f9f9;
}

div.song-box {
    border: solid 1px #ebebeb;
    min-height: 350px;
}

div.song-icon {
    background-color: #0067b2;
    height: 85px;
    width: 60px;
    float: left;
    display: block;
    margin: 0 10px 0 -30px;
    border-bottom: solid 10px #69be63;
}

div.song-icon p {
    font-size: 40px; 
    height: 85px; 
    line-height: 85px; 
    color: white;
}

p.song-detail-header {
    margin: 5px 0 5px 0;
    padding: 0;
    border-bottom: solid 1px #ebebeb;
    font-weight: 700;
}

h4.song-detail-header {
    margin: 5px 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: solid 1px #ebebeb;
}

h1.song-title {
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

div.file-item {
    margin: 15px 0 0 0;
    display: block;
    width: 100%;
    clear: both;
}

div.event-box {
    border: solid 1px #ebebeb;
}

div.event-box ul.event-song {
    margin: 0;
    padding: 0;
}

div.event-box ul.event-song li {
    float: left;
    list-style-type: none;
}

div.event-box ul.event-song li a {
    color: white;
    background-color: gray;
    display: block;
    margin: 0 3px 3px 0;
    padding: 3px 10px 3px 10px;
}

div.event-box ul.participants {
    margin: 0;
    padding: 0;
}

div.event-box ul.participants li {
    float: left;
    list-style-type: none;
}

div.event {
    padding: 10px;
    height: 125px;
    background-color: #f9f9f9;
}

div.event h1 {
    font-size: 2.1em;
}

div.event-icon {
    background-color: #0067b2;
    height: 85px;
    width: 60px;
    float: left;
    display: block;
    margin: 0 10px 0 -30px;
    border-bottom: solid 10px #69be63;
}

div.event-icon p {
    font-size: 40px; 
    height: 85px; 
    line-height: 85px; 
    color: white;
    text-align: center;
}

p.event-detail-header {
    margin: 5px 0 5px 0;
    padding: 0;
    border-bottom: solid 1px #ebebeb;
    font-weight: 700;
}

h4.menu-header {
    padding: 10px;
    border-bottom: solid 2px gray;
    background-color: #FFD117;
    color: white;
}

.menu-container {
    background-color: #f9f9f9;
    padding: 15px;
}

ul.administration-menu-items {
    margin: 0;
    padding: 0;
}

ul.administration-menu-items li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.administration-menu-items li a {
    padding: 10px;
    margin: 0 0 1px 0;
    display: block;
    width: 100%;
    border: solid 1px #ebebeb;
}

ul.administration-menu-items li a:hover {
    background-color: #f9f9f9;
}

/* Miscellaneous */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.data-holder {
    display: none;
}

.clear-fix {
    margin: 0;
    padding: 0;
    height: 2px;
    display: block;
    width: 100%;
    clear: both;
}